.owl-carousel {
    margin: 10px 0 !important;
}

.owl-stage-outer {
    padding: 80px 0 !important;
}

.owl-nav {
    margin: 0 !important;
    padding: 0 !important;
}

.owl-nav.disabled {
    display: none !important;
}

/* Base styling for the slider buttons */
.owl-prev,
.owl-next {
    margin: 0 !important;
    width: 50px !important;
    height: 50px !important;
    border: none !important;
    border-radius: 50% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
    z-index: 10 !important;
}

.owl-dots {
    margin: 0 !important;
}

.owl-theme .owl-dot {
    transition: all 0.3s ease !important;
}

.owl-theme .owl-dots:hover .owl-dot {
    padding: 0 3px !important;
}

.owl-dot {
    background-color: transparent !important;
}

.owl-dot span {
    background-color: azure !important;
    box-shadow: none !important;
    border: 1px solid #1c1c1c !important;
    transition: all 0.3s ease !important;
}

.ms-card {
    margin: 0 !important;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.ms-slide-wrapper {
    padding: 40px !important;
    display: flex !important;
    flex-direction: column !important;
}

.ms-slide-wrapper>div {
    padding: 0 80px !important;
}

.ms-slide-wrapper .alignwide {
    padding: 0 20px !important;
}

.ms-slide-wrapper .alignfull {
    padding: 0 !important;
}

.ms-slide-wrapper blockquote::before {
    left: -12px;
}

.ms-slide-wrapper .alignfull blockquote::before {
    left: 8px;
}

.ms-card-header {
    width: 100%;
    position: relative;
}

.ms-card-header img {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.ms-card-body {
    padding: 20px;
    min-height: 200px;
    height: 100%;
}

.ms-cat-wrapper,
.ms-tag-wrapper,
.ms-comment-wrapper {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.ms-cat-heading,
.ms-tag-heading {
    font-size: 10px;
}

.ms-cat,
.ms-tag {
    border-radius: 50px;
    font-size: 12px;
    margin: 0 2px;
    padding: 1px 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    font-style: italic;
    text-decoration: none !important;
}

.ms-card-body p {
    font-size: 13px;
    margin: 0 0 40px;
}

.ms-title,
.ms-title a {
    margin: 0 0 15px !important;
    text-decoration: none !important;
}

.ms-stock-status {
    position: absolute;
    top: 2%;
    right: 5%;
    padding: 5px 10px;
    background-color: #f6f6f6 !important;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 2px;
}

.ms-stock-status:hover {
    background-color: #fcfcfc !important;
}

.ms-review {
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
}

.ms-review .star-rating {
    margin: 0 !important;
}

.ms-pricing {
    margin-top: 10px;
}

.ms-price-main {
    color: orangered;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

.ms-price-strike {
    font-size: 16px;
}

.ms-add-to-cart a {
    margin-top: 10px !important;
    display: block !important;
    width: 100% !important;
    text-align: center !important;
    border-radius: 3px !important;
    transition: all 0.3s ease !important;
    text-decoration: none !important;
    padding: 10px 0 !important;
    line-height: 1.5 !important;
}

.ms-add-to-cart a.added {
    display: none !important;
}

.ms-author {
    display: flex;
}

.ms-author img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.ms-author-info h5 {
    margin: 0;
}

.ms-author-info img {
    height: 24px !important;
    width: 24px !important;
    border-radius: 50% !important;
}
