.owl-carousel {
    margin: 10px 0 !important;
}

.owl-stage-outer {
    padding: 80px 0 !important;
}

.owl-stage {
    overflow: hidden;
}

.owl-nav {
    margin: 0 !important;
    padding: 0 !important;
}

.owl-nav.disabled {
    display: none !important;
}

.owl-nav .disabled {
    opacity: 0.01;
}

/* Base styling for the slider buttons */
.owl-prev,
.owl-next {
    margin: 0 !important;
    width: 50px !important;
    height: 50px !important;
    border: none !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
    z-index: 10 !important;
}

.owl-dots {
    margin: 0 !important;
}

.owl-theme .owl-dot {
    background-color: transparent !important;
    transition: all 0.3s ease !important;
}

.owl-theme .owl-dots:hover .owl-dot {
    padding: 0 3px !important;
}

.owl-dot span {
    background-color: azure !important;
    box-shadow: none !important;
    border: 1px solid #1c1c1c !important;
    transition: all 0.3s ease !important;
}

.cs-card {
    display: flex !important;
    flex-direction: column !important;
    margin: 0 !important;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.cs-slide-wrapper {
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 40px !important;
    display: flex !important;
    flex-direction: column !important;
}

.cs-slide-wrapper > .alignfull,
.cs-slide-wrapper > .alignwide {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.cs-slide-wrapper > *:not(.alignwide):not(.alignfull) {
    padding: 0 4%;
}

.cs-card-header {
    width: 100%;
    position: relative;
}

.cs-card-header img {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.cs-card-body {
    flex: 1;
    display: flex !important;
    flex-direction: column !important;
    padding: 20px;
    min-height: 200px;
    height: 100%;
}

.cs-meta-wrapper {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    flex-wrap: wrap;
}

.cs-cat-wrapper,
.cs-date-wrapper,
.cs-comment-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.cs-cat,
.cs-tag {
    border-radius: 50px;
    font-size: 12px;
    margin: 0 2px;
    padding: 1px 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    font-style: italic;
    text-decoration: none !important;
}

.cs-card-body p {
    font-size: 13px;
    margin: 0 0 40px;
}

.cs-title,
.cs-title a {
    margin: 0 0 15px !important;
    text-decoration: none !important;
}

.cs-author-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cs-stock-status {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    background-color: #f6f6f6 !important;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 2px;
}

.cs-stock-status:hover {
    background-color: #fcfcfc !important;
}

.cs-review {
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
}

.cs-review .star-rating {
    margin: 0 !important;
}

.cs-pricing {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.cs-add-to-cart {
    width: 100%;
}

.cs-add-to-cart a {
    text-decoration: none !important;
    margin-top: 10px !important;
    display: block !important;
    width: 100% !important;
    text-align: center !important;
    border-radius: 3px !important;
    transition: all 0.3s ease !important;
    padding: 10px 0 !important;
    line-height: 1.5 !important;
}

.cs-add-to-cart a.added {
    display: none !important;
}

.cs-author {
    margin: 0;
}

.cs-author-img img {
    height: 24px !important;
    width: 24px !important;
    border-radius: 50% !important;
}
