.editor-styles-wrapper {
    background-size: cover;
    background-position: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wp-block-post-content {
    padding: 0 40px !important;
}